nav {
  height: 120px;
  background-color: #e5a63c;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  color: white;
}

nav span {
  font-family: "Bungee", sans-serif;
  padding: 1.5em;
}
nav #text {
  margin: 0em;
  /* float: right; */
  padding: 1.5em;
}

@media screen and (min-width: 768px) {
  nav {
    background-color: #4056a1;
  }
}
